.row
  .highlight.col-md-7.mainQuestCont
    %h3 Comparison
    - unless @user.blank?
      :javascript
         //Self comparison
         $(function () {
                 $('#compareContainer').highcharts({
                     chart: {
                         type: 'column'
                     },
                     title: {
                         text: 'Performance Meter'
                     },
                     subtitle: {
                         text: 'Your Performance in different topics'
                     },
                     xAxis: {
                         categories: [
                           #{topics_title}
                         ],
                         labels: {
                                             rotation: -45,
                                             align: 'right',
                                             style: {
                                                 fontSize: '13px',
                                                 fontFamily: 'Verdana, sans-serif'
                                             }
                                 }
                     },
                     yAxis: {
                         min: 0,
                         title: {
                             text: 'Percentage (%)'
                         }
                     },
                     tooltip: {
                         headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                         pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                             '<td style="padding:0"><b>{point.y:.1f} % </b></td></tr>',
                         footerFormat: '</table>',
                         shared: true,
                         useHTML: true
                     },
                     plotOptions: {
                         column: {
                             pointPadding: 0.2,
                             borderWidth: 0
                         }
                     },
                     series: [{
                         name: 'Performance',
                         data: [#{topics_performance}]

                     }]
                 });
             });



    #compareContainer
    - if @users.count > 1 and @link.blank?
      #compareOtherContainer
      :javascript
        // Comparison with other
        $(function () {
           $('#compareOtherContainer').highcharts({
                       chart: {
                           type: 'column'
                       },
                       title: {
                           text: 'Performance Meter'
                       },
                       subtitle: {
                           text: 'Your Performance in comparison to others(average) in different topics'
                       },
                       xAxis: {
                           categories: [
                             #{compare_topics_title}
                           ],
                           labels: {
                                      rotation: -45,
                                      align: 'right',
                                      style: {
                                        fontSize: '13px',
                                        fontFamily: 'Verdana, sans-serif'
                                      }
                                   }
                       },
                       yAxis: {
                           min: 0,
                           title: {
                               text: 'Percentage (%)'
                           }
                       },
                       tooltip: {
                           headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                           pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                               '<td style="padding:0"><b>{point.y:.1f} % </b></td></tr>',
                           footerFormat: '</table>',
                           shared: true,
                           useHTML: true
                       },
                       plotOptions: {
                           column: {
                               pointPadding: 0.2,
                               borderWidth: 0
                           }
                       },
                       series: [{
                           name: 'You',
                           data: [#{compare_your_performance}]

                       },
                       {
                           name: 'Others',
                           data: [#{compare_others_performance}]

                       }
                       ]
                   });
        });

    - unless @link.blank?
      #compareNoContainer
      :javascript
        // Comparison with other
        $(function () {
                 $('#compareNoContainer').highcharts({
                             chart: {
                                 type: 'column'
                             },
                             title: {
                                 text: 'Overall Performance Meter'
                             },
                             subtitle: {
                                 text: 'Overall Performances(average) of other peoples in different topics'
                             },
                             xAxis: {
                                 categories: [
                                   #{compare_no_topics_title}
                                 ],
                                 labels: {
                                            rotation: -45,
                                            align: 'right',
                                            style: {
                                              fontSize: '13px',
                                              fontFamily: 'Verdana, sans-serif'
                                            }
                                         }
                             },
                             yAxis: {
                                 min: 0,
                                 title: {
                                     text: 'Percentage (%)'
                                 }
                             },
                             tooltip: {
                                 headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                 pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                     '<td style="padding:0"><b>{point.y:.1f} % </b></td></tr>',
                                 footerFormat: '</table>',
                                 shared: true,
                                 useHTML: true
                             },
                             plotOptions: {
                                 column: {
                                     pointPadding: 0.2,
                                     borderWidth: 0
                                 }
                             },
                             series: [
                             {
                                 name: 'Performance',
                                 data: [#{compare_no_performance}]

                             }
                             ]
                 });
        });


  .highlight.col-md-4
    - if @user.blank?
      - unless @link.blank?
        %h5 Try out Yourself
        %a.btn.btn-success{href: "/"}
          %h3 Try out Yourself
      -else
        %h5 Reload Reset
        %a.btn.btn-success{href: "/reset"}
          %h3 Reload Reset

    -else
      %h5 Reload Reset
      %a.btn.btn-success{href: "/reset"}
        %h3 Reload Reset


