= hidden_field_tag "question_count", 1
= hidden_field_tag "question_limit", @rand_questions.count
= hidden_field_tag "yes_count", 0
= hidden_field_tag "no_count", 0
= hidden_field_tag "up_count", 0
= hidden_field_tag "down_count", 100
= hidden_field_tag "add_subtract_count", (100.0/(@rand_questions.count).to_f).to_f.round(2)
.row
  .highlight.col-md-7.mainQuestCont
    #shareCircle{style: 'display: none'}
      %h3 That's it!!!
      %p
        .shareCircle
    #questionsContainer
      = hidden_field_tag "q_ids" , @rand_questions.map(&:id).join(",")
      -@rand_questions.each_with_index do |question, index|
        .randQuest{style: "display: #{index == 0 ? 'block': 'none'}",:id => "randQuest_#{index + 1}"}
          %h2#qNumber
            Q: #{index + 1}
          #question
            Do You Know
            %span.qTitle #{question.title}?
      %p
        %a.btn.btn-primary.btn-default.submitAnswer#yes{href: "javascript:" ,role: "button"} Yes
        %a.btn.btn-primary.btn-default.submitAnswer#no{href: "javascript:",role: "button"} No
  .highlight.col-md-4
    %h5 Your General Knowledge Estimated
    %p
      %span#gKwldgEstUp 0 -
      %span#gKwldgEstDown 100%
  #loaderDiv{:style => "display: none"}
    %img.ajax-loader{src: "/assets/ajax-loader.gif", title: "LOADING"}/
  #compareOthers.highlight.col-md-4{:style => "display: none"}
    %a.btn.btn-success{href: "/compare"}
      %h3 Compare to others

:javascript
  $(document).ready(function() {
    var answers;
    answers = new Array();
    $('.submitAnswer').click(function() {
      var a_count, d_count, l_count, n_count, q_count, q_ids, share_text, share_url, type, u_count, y_count;
      type = $(this).attr('id');
      l_count = parseInt($('#question_limit').val());
      q_count = parseInt($('#question_count').val());
      y_count = parseInt($('#yes_count').val());
      n_count = parseInt($('#no_count').val());
      u_count = parseFloat($('#up_count').val());
      d_count = parseFloat($('#down_count').val());
      a_count = parseFloat($('#add_subtract_count').val());
      if (parseInt(q_count) <= l_count) {
        $('#question_count').val(parseInt(q_count + 1));
        if (parseInt(q_count + 1) <= l_count) {
          $('#randQuest_' + q_count).css('display', 'none');
          $('#randQuest_' + parseInt(q_count + 1)).css('display', 'block');
        }
        if (type === 'yes') {
          $('#yes_count').val(parseInt(y_count + 1));
          $('#gKwldgEstUp').html(parseFloat(u_count + a_count).toFixed(2) + ' -');
          $('#up_count').val(parseFloat(u_count + a_count).toFixed(2));
          return answers.push(1);
        } else if (type === 'no') {
          $('#no_count').val(parseInt(n_count + 1));
          $('#gKwldgEstDown').html(parseFloat(d_count - a_count).toFixed(2) + '%');
          $('#down_count').val(parseFloat(d_count - a_count).toFixed(2));
          return answers.push(0);
        }
      } else {
        $('#loaderDiv').show();
        q_ids = $('#q_ids').val();
        $.ajax({
          url: '/user_answers/save_answers?q_ids=' + q_ids + '&answers=' + answers + '&up_range=' + u_count + '&down_range=' + d_count,
          type: 'get',
          dataType: 'html',
          processData: false,
          success: function(data) {
            $('#shareCircle').show();
            $('#compareOthers').show();
            $('#loaderDiv').hide();
            return $('#questionsContainer').hide();
          }
        });

        //share source http://jquery-plugins.net/share-button-fast-and-beautiful-social-share-buttons
        share_url = window.location + 'compare?link=true';
        share_text = $("#up_count").val() + ' - ' + $("#down_count").val();
        return $(".shareCircle").share({
          title: 'Yleistin',
          image: 'http://carrot.is/img/fb-share.jpg',
          app_id: '561967870564815',
          background: 'rgba(255,255,255,.5)',
          color: '#3B2B45',
          url: share_url,
          text: "My general knowledge ranges " + share_text + " , checkout out yours at " + share_url + ". #Yleistin",
          link: share_url,
        });
      }
    });
  });
